<?php

/*
 * This file is part of PHP CS Fixer.
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

$_ENV = [
    'database_type' => 'mysql',
    'database_name' => '', //数据库名
    'server'        => '', //数据库地址
    'username'      => '', //用户名
    'password'      => '', //用户密码
];
